#!/usr/bin/env bash
set -euo pipefail

export PATH="$HOME/.cargo/bin:$PATH"

echo "Updating: cargo-binstall"
cargo install cargo-binstall || echo "  Failed"

{% for pkg in cargo_packages %}
echo "Updating: {{ pkg }}"
cargo binstall --no-confirm "{{ pkg }}" || echo "  Failed"
{% endfor %}
{% if 'bob-nvim' in cargo_packages %}

echo "Updating Neovim via bob..."
bob use stable || echo "  Failed"
{% endif %}

echo "Done."
