[Unit]
Description=Update cargo packages to latest versions
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ system_maintenance_user }}
Environment="HOME={{ system_maintenance_home }}"
ExecStart={{ system_maintenance_bin_dir }}/update-cargo-packages
StandardOutput=journal
StandardError=journal
