// Zed keymap
//
// For information on binding keys, see the Zed
// documentation: https://zed.dev/docs/key-bindings
//
// To see the default key bindings run `zed: open default keymap`
// from the command palette.
[
{{- if index . "bitbucketDomain" }}
  {
    "context": "Workspace",
    "bindings": {
      "ctrl-alt-cmd-o": [
        "task::Spawn",
        { "task_name": "Copy Bitbucket Permalink", "reevaluate_context": true }
      ],
      "ctrl-alt-cmd-shift-o": [
        "task::Spawn",
        { "task_name": "Open Bitbucket Permalink", "reevaluate_context": true }
      ]
    }
  },
{{- end }}
  {
    "context": "Editor && mode == full",
    "bindings": {
      "ctrl-alt-cmd-l": "agent::QuoteSelection"
    }
  },
  {
    "context": "Workspace",
    "bindings": {
      "ctrl-alt-cmd-shift-n": "agent::NewExternalAgentThread"
    }
  },
  {
    "context": "Workspace",
    "bindings": {
      // "shift shift": "file_finder::Toggle"
    }
  },
  {
    "context": "Editor && vim_mode == insert",
    "bindings": {
      // "j k": "vim::NormalBefore"
    }
  },
  {
    "bindings": {
      "ctrl-alt-cmd-shift-t": "editor::SpawnNearestTask"
    }
  },
  {
    "context": "Editor",
    "bindings": {
      "cmd-shift-c": "editor::CopyAndTrim"
    }
  },
  {
    "bindings": {
      "cmd-shift-c": null
    }
  },
  {
    "bindings": {
      "ctrl-alt-cmd-shift-g": [
        "task::Spawn",
        { "task_name": "LazyGit", "reveal_target": "center" }
      ]
    }
  },
  {
    "bindings": {
      "ctrl-cmd-k": "agent::AddSelectionToThread"
    }
  }
]
