# Python
__pycache__/
*.pyc

# Typescript
node_modules

# Ansible
*.retry
.ansible/

# macOS
.DS_Store

# direnv
.direnv/

# ai
/.claude/settings.local.json

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Cached secrets
.env
.dev.vars
