os:
  editPreset: "vscode"

gui:
  nerdFontsVersion: "3"
  showFileTree: true
  expandFocusedSidePanel: true
  filterMode: fuzzy

git:
  log:
    order: "topo-order"
    showGraph: always
{% set hunk = exec(command="command -v hunk || true") | trim %}
{% set delta = exec(command="command -v delta || true") | trim %}
{% if hunk != "" %}
  diffRenderers:
    - command: hunk pager
      colorArg: always
{% elif delta != "" %}
  diffRenderers:
    - command: delta --paging=never
      colorArg: always
{% endif %}
  autoFetch: false
  overrideGpg: true

promptToReturnFromSubprocess: false
{% set services = vars.lazygit_services | default(value="") %}
{% if services != "" %}

services:
{{ services | safe }}
{% endif %}
