[
  {
    "id": "openai",
    "auth_details": {
      "api_key": "{{ template "llm-api-key" . }}"
    }
  },
  {
    "id": "forge_services",
    "auth_details": {
      "api_key": "{{ template "forge-services-api-key" . }}"
    },
    "url_params": {
      "user_id": "5341c46c-9935-4111-b2c3-d7093a142d65"
    }
  },
  {
    "id": "anthropic",
    "auth_details": {
      "api_key": "{{ template "llm-api-key" . }}"
    }
  },
  {
    "id": "google_ai_studio",
    "auth_details": {
      "api_key": "{{ template "llm-api-key" . }}"
    }
  }
]
