[alias]
	cone = "commit --amend --no-edit"
	count = "rev-list --count main..HEAD"
	gone = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D"
	pushf = "push --force-with-lease"
	undo = "reset HEAD~"

[color]
	ui = "auto"

[commit]
	gpgSign = true

{{- if lookPath "delta" }}

{{- if eq .chezmoi.os "darwin" }}

[core]
	editor = /Users/tsandberg/.local/bin/codeEditor
	pager = delta

[interactive]
	diffFilter = delta --color-only
{{- else }}

[core]
	pager = "delta --$(cat ~/.terminal-bg 2>/dev/null || echo dark)"

[interactive]
	diffFilter = "delta --color-only --$(cat ~/.terminal-bg 2>/dev/null || echo dark)"
{{- end }}

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
{{- end }}

[merge]
	conflictStyle = zdiff3

[credential]
	helper = "git-credential-manager"

{{- if ne .chezmoi.hostname "ML-DFC6YK6VJQ" }}

[credential "https://gist.github.com"]
	helper = ""
	helper = "gh auth git-credential"

[credential "https://github.com"]
	helper = ""
	helper = "gh auth git-credential"
{{- end }}

[diff]
	algorithm = "histogram"

[diff "lockb"]
	binary = true
	textconv = "bun"

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

[fetch]
	prune = true
	pruneTags = true

[gpg]
	format = "ssh"

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else }}
	program = "op-ssh-sign"
{{- end }}

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = "simple"

[rebase]
	autoStash = true
	updateRefs = true

[rerere]
	enabled = true

[tag]
	gpgSign = true

[user]
	email = "{{ .email }}"
	name = "Thurston Sandberg"
	signingKey = "{{ .signingKey }}"
{{- if .bitbucketDomain }}

[url "ssh://git@{{ .bitbucketDomain }}:7999"]
	insteadOf = "https://{{ .bitbucketDomain }}/scm"
{{- end }}
{{- if .gitlabDomain }}

[url "ssh://git@{{ .gitlabDomain }}"]
	insteadOf = "https://{{ .gitlabDomain }}"
{{- end }}
