[alias]
	cone = "commit --amend --no-edit"
	count = "rev-list --count main..HEAD"
	gone = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D"
	pushf = "push --force-with-lease"
	undo = "reset HEAD~"

[color]
	ui = "auto"

[commit]
	gpgSign = true

{{- if lookPath "delta" }}

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
{{- end }}

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = "histogram"

[diff "lockb"]
	binary = true
	textconv = "bun"

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

[fetch]
	prune = true
	pruneTags = true

[gpg]
	format = "ssh"

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
	allowedSignersFile = "{{ .chezmoi.homeDir }}/.config/git/allowed_signers"

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = "simple"

[rebase]
	autoStash = true
	updateRefs = true

[rerere]
	enabled = true

[tag]
	gpgSign = true

[user]
{{- if eq .chezmoi.hostname "ML-DFC6YK6VJQ" }}
	email = "{{ .workEmail }}"
	name = "Thurston Sandberg"
	signingKey = "{{ .workSigningKey }}"

[includeIf "gitdir:~/code/personal/"]
	path = personal.inc
{{- else }}
	email = "{{ .personalEmail }}"
	name = "Thurston Sandberg"
{{- if eq .chezmoi.hostname "pod042" }}
	signingKey = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519_git"
{{- else }}
	signingKey = "{{ .personalSigningKey }}"
{{- end }}
{{- end }}
{{- range .scm }}

[url "ssh://git@{{ .host }}{{ with index . "sshPort" }}:{{ . }}{{ end }}"]
	insteadOf = "https://{{ .host }}{{ index . "httpsPathPrefix" | default "" }}"
{{- end }}
