[alias]
	cone = "commit --amend --no-edit"
	count = "rev-list --count main..HEAD"
	gone = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D"
	pushf = "push --force-with-lease"
	undo = "reset HEAD~"

[color]
	ui = "auto"

[commit]
	gpgSign = true
{% if get_env(name="GIT_CLIENT_DELTA", default="false") == "true" %}

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
{% endif %}

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = "histogram"

[diff "lockb"]
	binary = true
	textconv = "bun"

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

[fetch]
	prune = true
	pruneTags = true

[gpg]
	format = "ssh"

[gpg "ssh"]
{% if vars.git_signing_program != "" %}
	program = "{{ vars.git_signing_program }}"
{% endif %}
	allowedSignersFile = "{{ vars.git_client_home }}/.config/git/allowed_signers"

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = "simple"

[rebase]
	autoStash = true
	updateRefs = true

[rerere]
	enabled = true

[tag]
	gpgSign = true

[user]
{% if vars.host_profile == "work" %}
	email = "{{ vars.git_work_email }}"
	name = "Thurston Sandberg"
	signingKey = "{{ vars.git_work_signing_key }}"

[includeIf "gitdir:~/code/personal/"]
	path = personal.inc
{% else %}
	email = "{{ vars.git_personal_email }}"
	name = "Thurston Sandberg"
	signingKey = "{{ vars.git_personal_signing_key | default(value=vars.git_personal_public_signing_key) }}"
{% endif %}
{% if vars.git_scm_config | default(value="") != "" %}
{{ vars.git_scm_config | default(value="") }}
{% endif %}
