os:
{{- if eq .chezmoi.hostname "clawdbot" }}
  editPreset: "vim"
{{- else }}
  editPreset: "vscode"
{{- end }}

gui:
  nerdFontsVersion: "3"
  showFileTree: true
  expandFocusedSidePanel: true
  filterMode: fuzzy

git:
  log:
    order: "topo-order"
    showGraph: always
{{- if lookPath "hunk" }}
  diffRenderers:
    - command: hunk pager
      colorArg: always
{{- else if lookPath "delta" }}
  diffRenderers:
    - command: delta --paging=never
      colorArg: always
{{- end }}
  autoFetch: false
  overrideGpg: true

promptToReturnFromSubprocess: false
{{- if .scm }}

services:
{{-   range .scm }}
  '{{ .host }}': '{{ .type }}:{{ .host }}'
{{-   end }}
{{- end }}
