os:
{{- if eq .chezmoi.hostname "clawdbot" }}
  editPreset: "vim"
{{- else }}
  editPreset: "vscode"
{{- end }}

gui:
  nerdFontsVersion: "3"
  showFileTree: true
  expandFocusedSidePanel: true
  filterMode: fuzzy

git:
  log:
    order: "topo-order"
    showGraph: always
{{- if lookPath "hunk" }}
  pagers:
    - pager: hunk pager
      colorArg: always
{{- else if lookPath "delta" }}
  pagers:
    - pager: delta --paging=never --$(cat ~/.terminal-bg 2>/dev/null || echo dark)
      colorArg: always
{{- end }}
  autoFetch: false
  overrideGpg: true

promptToReturnFromSubprocess: false
{{- $bitbucketDomain := index . "bitbucketDomain" }}
{{- if $bitbucketDomain }}

services:
  '{{ $bitbucketDomain }}': 'bitbucketServer:{{ $bitbucketDomain }}'
{{- end }}
