{
  "applyPatchOnly": false,
  "fast": true,
  "imageGeneration": true,
  "compactionModel": "{{ .models.openai.gpt.version }}",
  "compactionReasoning": "current",
  "responsesCompaction": true,
  "statusLine": false,
  "useOnAllModels": false,
  "webSearch": false,
  "verbosity": "low"
}
