{
  "anthropic": {
    "type": "api_key",
    "key": "{{ template "llm-api-key" . }}"
  },
  "openai": {
    "type": "api_key",
    "key": "{{ template "llm-api-key" . }}"
  },
  "google": {
    "type": "api_key",
    "key": "{{ template "llm-api-key" . }}"
  }
}
