services:
  frigate:
    container_name: frigate
    privileged: true
    restart: unless-stopped
    image: ghcr.io/blakeblackshear/frigate:stable
    shm_size: "675mb" # Shared memory for 6 cameras at 2K resolution
    networks:
      iot:
        ipv4_address: {{ lan.iot.frigate.ip }}
    volumes:
      - /mnt/capacity/docker/frigate/config:/config
      - /mnt/capacity/docker/frigate/media/frigate:/media/frigate
      - /etc/localtime:/etc/localtime:ro
      - type: tmpfs # RAM cache for detection
        target: /tmp/cache
        tmpfs:
          size: 1000000000 # 1GB cache for detection
    ports:
      - "{{ lan.iot.frigate.ports.web_ui }}:{{ lan.iot.frigate.ports.web_ui }}" # web ui
      - "{{ lan.iot.frigate.ports.rtsp }}:{{ lan.iot.frigate.ports.rtsp }}" # rtsp
      - "{{ lan.iot.frigate.ports.webrtc }}:{{ lan.iot.frigate.ports.webrtc }}" # webrtc
      - "{{ lan.iot.frigate.ports.webrtc }}:{{ lan.iot.frigate.ports.webrtc }}/udp" # webrtc
    environment:
      FRIGATE_RTSP_PASSWORD: "${FRIGATE_RTSP_PASSWORD}"
    # depends_on:
    #   - ollama
    devices:
      - /dev/dri:/dev/dri # Intel iGPU acceleration
    # devices:
    #   - /dev/bus/usb:/dev/bus/usb # Ready for Coral USB when added

networks:
  iot:
    external: true
