# Chezmoi configuration
# This file is a template that generates ~/.config/chezmoi/chezmoi.toml

sourceDir = {{ .chezmoi.sourceDir | quote }}

[edit]
  command = "code"
  args = ["--wait"]

[diff]
  pager = "delta"

[data]
  # Custom variables available in all templates as .variableName
  #
  # Code editor configuration - change codeEditor to switch editors
  # This controls both ~/.local/bin/code symlink and duti file associations
  #
  # | Editor       | Command        |
  # |--------------|----------------|
  # | VS Code      | code           |
  # | VS Code Ins. | code-insiders  |
  # | Cursor       | cursor         |
  # | Windsurf     | windsurf       |
  # | Zed          | zed            |
  #
  codeEditor = "code"
{{- if eq .chezmoi.os "darwin" }}
  developDir = "Develop"
{{- else if eq .chezmoi.os "linux" }}
  developDir = "code"
{{- end }}
