# Chezmoi configuration
# This file is a template that generates ~/.config/chezmoi/chezmoi.toml

sourceDir = {{ .chezmoi.sourceDir | quote }}

[edit]
  command = "code"
  args = ["--wait"]

[diff]
{{- if eq .chezmoi.os "darwin" }}
  pager = "delta"
{{- else }}
  pager = "delta --${TERMINAL_BG:-dark}"
{{- end }}

{{- if eq .chezmoi.hostname "clawdbot" }}
[onepassword]
  command = "/home/thurstonsand/.local/bin/op"
  prompt = false
{{- end }}

[data]
  # Machine-specific variables (OS-dependent)
{{- if eq .chezmoi.os "darwin" }}
  developDir = "Develop"
{{- else if eq .chezmoi.os "linux" }}
  developDir = "code"
{{- end }}
