#:schema https://developers.openai.com/codex/config-schema.json
model_reasoning_effort = "medium"
model_reasoning_summary = "auto"
{% if not is_work %}
model = "{{ model }}"
approvals_reviewer = "auto_review"
sandbox_mode = "danger-full-access"
web_search = "live"
{% endif %}

[features]
prevent_idle_sleep = true
memories = true
default_mode_request_user_input = true
chronicle = {{ "false" if is_work else "true" }}
artifact = {{ "false" if is_work else "true" }}

[tui]
theme = "gruvbox-{{ terminal_background }}"
status_line = [ "context-remaining", "model-with-reasoning", "project-root", "git-branch" ]
{% if not is_work %}

[projects."{{ projects_root }}/nixonomicon"]
trust_level = "trusted"

[projects."{{ projects_root }}/anypod"]
trust_level = "trusted"

[projects."{{ projects_root }}/ansiblonomicon"]
trust_level = "trusted"

[projects."{{ projects_root }}/pi-sessions"]
trust_level = "trusted"

[projects."{{ projects_root }}/mtool"]
trust_level = "trusted"

[projects."/"]
trust_level = "trusted"

[projects."{{ projects_root }}/ghosttykit"]
trust_level = "trusted"

[projects."{{ projects_root }}/flux-keyboard-sdk"]
trust_level = "trusted"
{% endif %}

[desktop]
followUpQueueMode = "steer"
mac-menu-bar-enabled = false
preventSleepWhileRunning = true
hotkey-window-projectless-default-enabled = true
appearanceLightCodeThemeId = "gruvbox"
appearanceDarkCodeThemeId = "gruvbox"
usePointerCursors = true
selected-avatar-id = "custom:2b"
open-local-url-in-target-preference = "in-app-browser"
git-always-force-push = true
dock-icon-preference = "app-default"

[desktop.open-in-target-preferences]
global = "zed"

[desktop.appearanceLightChromeTheme]
accent = "#458588"
contrast = 45
ink = "#3c3836"
opaqueWindows = false
surface = "#fbf1c7"

[desktop.appearanceLightChromeTheme.semanticColors]
diffAdded = "#3c3836"
diffRemoved = "#cc241d"
skill = "#b16286"

[desktop.appearanceDarkChromeTheme]
accent = "#458588"
contrast = 60
ink = "#ebdbb2"
opaqueWindows = false
surface = "#282828"

[desktop.appearanceDarkChromeTheme.semanticColors]
diffAdded = "#ebdbb2"
diffRemoved = "#cc241d"
skill = "#b16286"
