Include ~/.ssh/1Password/config
Include ~/.ssh/config.d/*.conf

# SSH via Cloudflare Tunnel (hostname-based access)
# Uses ssh-smart-proxy: tries local connection first, falls back to cloudflared access ssh

Host pod042-kvm
  HostName 10.10.10.34
  User root
  IdentityFile ~/.ssh/id_ecdsa_glkvm

Host haos
  ForwardAgent yes
  User root
  HostKeyAlias haos
  ProxyCommand ~/.local/libexec/ssh-smart-proxy haos 192.168.1.89 22222 haos-ssh.thurstons.house

Host truenas
  User admin
  HostKeyAlias truenas
{{- if eq .chezmoi.hostname "pod042" }}
  HostName 192.168.1.68
  IdentityFile ~/.ssh/id_ed25519_pod042_truenas
  IdentitiesOnly yes
  UserKnownHostsFile ~/.ssh/known_hosts_pod042
{{- else }}
  ForwardAgent yes
  ProxyCommand ~/.local/libexec/ssh-smart-proxy truenas 192.168.1.68 22 truenas-ssh.thurstons.house
{{- end }}

{{- if eq .chezmoi.hostname "pod042" }}
Host github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_git
  IdentitiesOnly yes

{{- end }}
Host truenas-dev
  Port 2222
  ForwardAgent yes
  User admin
  HostName 192.168.6.227
  SetEnv TERM="xterm-256color"

{{- if ne .chezmoi.hostname "pod042" }}

Host pod042
  HostName 10.10.10.187
  User thurstonsand
  ForwardAgent yes
  HostKeyAlias pod042
  IdentityFile ~/.ssh/1Password/SHA256_xQTTgUrxzVzEf6EIQNWj_5RpVmoVzSa4kfqSLz4RcfQ.pub
  IdentitiesOnly yes
  RequestTTY yes

{{- end }}

Host udmp
  HostName 10.10.20.1
  User root
  HostKeyAlias udmp

Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3
  AddKeysToAgent no
  HashKnownHosts no
{{- if eq .chezmoi.os "darwin" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
