Include ~/.ssh/1Password/config
Include ~/.ssh/config.d/*.conf

# SSH via Cloudflare Tunnel (hostname-based access)
# Uses ssh-smart-proxy: tries local connection first, falls back to cloudflared access ssh

Host glkvm
  HostName 192.168.1.34
  User root
  IdentityFile ~/.ssh/id_ecdsa_glkvm

Host haos
  ForwardAgent yes
  User root
  HostKeyAlias haos
  ProxyCommand ~/.local/libexec/ssh-smart-proxy haos 192.168.1.89 22222 haos-ssh.thurstons.house

Host truenas
  ForwardAgent yes
  User admin
  HostKeyAlias truenas
  ProxyCommand ~/.local/libexec/ssh-smart-proxy truenas 192.168.1.68 22 truenas-ssh.thurstons.house

Host truenas-dev
  Port 2222
  ForwardAgent yes
  User admin
  HostName 192.168.6.227
  SetEnv TERM="xterm-256color"

{{- if ne .chezmoi.hostname "pod042" }}

Host pod042
  HostName 192.168.1.91
  User thurstonsand
  ForwardAgent yes
  HostKeyAlias pod042

{{- end }}

Host udmp
  ForwardAgent yes
  User root
  HostKeyAlias udmp
  ProxyCommand ~/.local/libexec/ssh-smart-proxy udmp 192.168.1.1 22 udmp-ssh.thurstons.house

Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3
  AddKeysToAgent no
  HashKnownHosts no
{{- if eq .chezmoi.os "darwin" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
