services:
  isponsorblocktv:
    image: ghcr.io/dmunozv04/isponsorblocktv:latest
    container_name: isponsorblocktv
    networks:
      personal:
        ipv4_address: {{ lan.personal.isponsorblocktv.ip }}
    volumes:
      - {{ docker.config_dir }}/isponsorblocktv/app/data:/app/data
    restart: unless-stopped

networks:
  personal:
    external: true
