---
- greeting:
    text_size: xl
    text: Thurston's House

- resources:
    cpu: true
    memory: true

- resources:
    label: Capacity
    disk: /watch

- resources:
    label: Performance
    disk: /apps

- unifi_console:
    url: https://{{ unifi.ip }}:443
    username: "{{ lookup('env', 'HOMEPAGE_UNIFI_USERNAME') }}"
    password: "{{ lookup('env', 'HOMEPAGE_UNIFI_PASSWORD') }}"
