{
  "persistState": true,
  "active": true,
  "supportedModels": [
    "{{ .models.openai.gpt.agent_harness.aliases.pi }}",
    "{{ .models.openai.gpt.agent_harness.aliases.pi_openai_fast_codex }}"
  ]
}
