{{ template "vscode-settings" (dict "editor" "insiders" "models" .models "fonts" .fonts "hostname" .chezmoi.hostname "aigEnabled" .aigEnabled "goLocalImports" .goLocalImports "goplsBuildFlags" .goplsBuildFlags) }}
