services:
  homepage-docker-socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: homepage-docker-socket-proxy
    privileged: true
    networks:
      personal:
        ipv4_address: {{ lan.personal.homepage_docker_socket_proxy.ip }}
    ports:
      - "{{ lan.personal.homepage_docker_socket_proxy.ports.docker_api }}:{{ lan.personal.homepage_docker_socket_proxy.ports.docker_api }}" # docker api
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      CONTAINERS: 1
      POST: 0
    restart: unless-stopped

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    networks:
      personal:
        ipv4_address: {{ lan.personal.homepage.ip }}
    ports:
      - "{{ lan.personal.homepage.ports.web }}:{{ lan.personal.homepage.ports.web }}" # web
    volumes:
      - {{ docker.config_dir }}/homepage/app/config:/app/config
      - {{ docker.config_dir }}/homepage/app/public/images:/app/public/images
      - /etc/localtime:/etc/localtime:ro
      - {{ docker.config_base }}:/apps
      - /mnt/capacity/watch:/watch
    environment:
      PUID: {{ docker.user.puid }}
      PGID: {{ docker.user.pgid }}
      PORT: {{ lan.personal.homepage.ports.web }}
      HOMEPAGE_ALLOWED_HOSTS: {{ lan.personal.homepage.domain }},{{ lan.personal.homepage.domain }}:{{ lan.personal.homepage.ports.web }}
    user: "{{ docker.user.id }}"
    depends_on:
      - homepage-docker-socket-proxy
    restart: unless-stopped

networks:
  personal:
    external: true
