ZED_EMAIL_ADDR=""
ZED_NOTIFY_DATA=""
ZED_USE_ENCLOSURE_LEDS=1
ZED_SCRUB_AFTER_RESILVER=0
ZED_POWER_OFF_ENCLOSURE_SLOT_ON_FAULT=0
ZED_POWER_OFF_ENCLOSURE_SLOT_ON_DEADMAN=0
ZED_SYSLOG_SUBCLASS_EXCLUDE="history_event"
