{{ template "vscode-settings" (dict "editor" "cursor" "models" .models "fonts" .fonts "hostname" .chezmoi.hostname "aigEnabled" .aigEnabled "goLocalImports" .goLocalImports "goplsBuildFlags" .goplsBuildFlags) }}
