{{ exec(command=env.EDITOR_CONFIG_PYTHON | quote ~ " " ~ env.EDITOR_CONFIG_RENDERER | quote ~ " zed --models=" ~ env.EDITOR_CONFIG_MODELS | quote ~ " --profile=" ~ vars.host_profile | quote ~ " --monospace-font=" ~ vars.editor_monospace_font | quote ~ " --proportional-font=" ~ vars.editor_proportional_font | quote ~ " --font-size=" ~ vars.editor_font_size | quote ~ " --go-local-imports=" ~ vars.go_local_imports | default(value='') | quote ~ " --gopls-build-flags=" ~ vars.gopls_build_flags | default(value='') | quote) }}
