[aliases]
bottom = ["edit", "roots(::@ & ~::main)"]
preview = ["log", "-r", "::@", "--git"]
stack = ["log", "-r", "::@ & ~::main"]

[git]
auto-local-bookmark = true
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"
sign-on-push = true

[merge-tools.code]
edit-args = ["--wait", "--diff", "$left", "$right"]
merge-args = [
    "--wait",
    "--merge",
    "$left",
    "$right",
    "$base",
    "$output",
]
program = "code"

[signing]
backend = "ssh"
behavior = "drop"
{{- if eq .chezmoi.hostname "ML-DFC6YK6VJQ" }}
key = "{{ .workSigningKey }}"
{{- else }}
key = "{{ .personalSigningKey }}"
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
[signing.backends.ssh]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

{{ end -}}
[templates]
log_node = "coalesce(\n  if(!self, label(\"elided\", \"~\")),\n  label(if(current_working_copy, \"working_copy\"),\n    if(conflict, label(\"conflict\", \"×\"), \"◉\")\n  ),\n)\n"

[ui]
diff-editor = "code"
editor = "code --wait"
merge-editor = "code"

[ui.graph]
style = "curved"

[ui.movement]
edit = true

[user]
{{- if eq .chezmoi.hostname "ML-DFC6YK6VJQ" }}
email = "{{ .workEmail }}"
{{- else }}
email = "{{ .personalEmail }}"
{{- end }}
name = "Thurston Sandberg"
