#:schema https://developers.openai.com/codex/config-schema.json

model = "{{ .models.openai.gpt.version }}"
model_context_window = {{ .models.openai.gpt.max_input }}
model_auto_compact_token_limit = {{ .models.openai.gpt.codex.auto_compact_token_limit }}
model_reasoning_effort = "medium"
model_reasoning_summary = "auto"
approval_policy = "on-request"
sandbox_mode = "danger-full-access"
personality = "friendly"
web_search = "live"
default_mode_request_user_input = true
service_tier = "fast"

[features]
unified_exec = true
apply_patch_freeform = true
shell_snapshot = true
multi_agent = true
apps = true
prevent_idle_sleep = true
memories = true
chronicle = true
remote_connections = true
remote_control = true
undo = true
default_mode_request_user_input = true
artifact = true
child_agents_md = true

[history]
persistence = "save-all"

[tui]
notifications = true
theme = "gruvbox-{{ output "sh" "-c" "cat ~/.terminal-bg 2>/dev/null || echo dark" | trim }}"
status_line = ["context-remaining", "model-with-reasoning", "project-root", "git-branch"]

[tui.model_availability_nux]
"gpt-5.5" = 2

[projects."{{ .chezmoi.homeDir }}/{{ .developDir }}/nixonomicon"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/{{ .developDir }}/anypod"]
trust_level = "trusted"

{{ if eq .chezmoi.hostname "clawdbot" -}}
[projects."{{ .chezmoi.homeDir }}"]
trust_level = "trusted"

{{ end -}}

[projects."{{ .chezmoi.homeDir }}/{{ .developDir }}/ansiblonomicon"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/{{ .developDir }}/pi-sessions"]
trust_level = "trusted"

[notice]
hide_gpt5_1_migration_prompt = true
"hide_gpt-5.1-codex-max_migration_prompt" = true

[notice.model_migrations]
"gpt-5.2-codex" = "gpt-5.3-codex"

[plugins."google-calendar@openai-curated"]
enabled = true

[plugins."gmail@openai-curated"]
enabled = true

[plugins."github@openai-curated"]
enabled = true

[plugins."google-drive@openai-curated"]
enabled = true

[plugins."browser-use@openai-bundled"]
enabled = true

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."computer-use@openai-bundled"]
enabled = true

[marketplaces.openai-bundled]
last_updated = "2026-04-26T06:46:03Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.codex/.tmp/bundled-marketplaces/openai-bundled"

[marketplaces.openai-primary-runtime]
last_updated = "2026-04-26T06:03:40Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.cache/codex-runtimes/codex-primary-runtime/plugins/openai-primary-runtime"
