RESTIC_REPOSITORY={{ restic_backup_repository | quote }}
B2_ACCOUNT_ID={{ restic_backup_account_id | quote }}
B2_ACCOUNT_KEY={{ restic_backup_account_key | quote }}
RESTIC_PASSWORD={{ restic_backup_password | quote }}
