---
- Infra:
    - TrueNas Server:
        icon: truenas.svg
        href: https://{{ lan.trusted.truenas.domain }}
        widget:
          type: truenas
          url: http://{{ lan.trusted.truenas.domain }}
          key: "{{ lookup('env', 'HOMEPAGE_TRUENAS_API_KEY') }}"
          nasType: scale
          enablePools: true
    - Arcane:
        icon: arcane.png
        href: https://{{ lan.personal.arcane.domain }}
        server: docker-proxy
        container: arcane
        widget:
          type: customapi
          refreshInterval: 10000
          headers:
            X-Api-Key: "{{ lookup('env', 'HOMEPAGE_ARCANE_API_KEY') }}"
          url: http://{{ lan.personal.arcane.domain }}:{{ lan.personal.arcane.ports.web }}/api/environments/0/containers
          mappings:
            - field: counts.runningContainers
              format: number
              label: Running
            - field: counts.stoppedContainers
              format: number
              label: Stopped
            - field: counts.totalContainers
              format: number
              label: Total
    - Cloudflare DNS:
        icon: cloudflare.svg
        href: https://dash.cloudflare.com/{{ lookup('env', 'CLOUDFLARE_ACCOUNT_ID') }}/thurstons.house
    - Cloudflare Tunnel:
        icon: cloudflare.svg
        href: https://one.dash.cloudflare.com/{{ lookup('env', 'CLOUDFLARE_ACCOUNT_ID') }}/networks/tunnels
        server: docker-proxy
        container: cloudflared
        widget:
          type: cloudflared
          accountid: {{ lookup('env', 'CLOUDFLARE_ACCOUNT_ID') }}
          tunnelid: {{ lookup('env', 'CLOUDFLARE_TUNNEL_ID') }}
          key: "{{ lookup('env', 'HOMEPAGE_CLOUDFLARE_API_KEY') }}"
    - ddclient:
        icon: cloudflare.svg
        server: docker-proxy
        container: ddclient
    - NextDNS:
        icon: nextdns.svg
        href: https://my.nextdns.io/{{ lookup('env', 'NEXTDNS_PROFILE_ID') }}/setup
        widget:
          type: nextdns
          profile: {{ lookup('env', 'NEXTDNS_PROFILE_ID') }}
          key: {{ lookup('env', 'NEXTDNS_API_KEY') }}
    - Storj Backup:
        icon: storj.svg
        href: https://us1.storj.io/projects/{{ lookup('env', 'STORJ_PROJECT_ID') }}/dashboard
    - Storj Node:
        icon: storj.svg
        href: http://{{ lan.trusted.truenas.domain }}:{{ lan.trusted.truenas.ports.storj_node }}/

- Arr Apps:
    - Calendar:
        widget:
          type: calendar
          firstDayInWeek: monday
          view: monthly
          maxEvents: 100
          integrations:
            - type: sonarr
              service_group: Arr Apps
              service_name: Sonarr
            - type: radarr
              service_group: Arr Apps
              service_name: Radarr
    - Overseerr:
        href: https://{{ lan.external.overseerr.domain }}
        icon: overseerr.svg
        server: docker-proxy
        container: overseerr
        widget:
          type: overseerr
          url: https://{{ lan.external.overseerr.domain }}
          key: "{{ lookup('env', 'HOMEPAGE_OVERSEERR_API_KEY') }}"
    - Plex:
        href: https://app.plex.tv/desktop/
        icon: plex.svg
        widget:
          type: plex
          url: http://{{ lan.trusted.truenas.ip }}:{{ lan.trusted.truenas.ports.plex }}
          key: "{{ lookup('env', 'HOMEPAGE_PLEX_API_KEY') }}"
          fields:
            - streams
            - movies
            - tv
    - Torrent VPN:
        icon: mullvad.svg
        server: docker-proxy
        container: gluetun
        widget:
          type: gluetun
          url: http://{{ lan.personal.qbittorrent.domain }}:{{ lan.personal.gluetun.ports.control }}
          version: 2
    - Torrent:
        href: http://{{ lan.personal.qbittorrent.domain }}
        icon: qbittorrent.svg
        server: docker-proxy
        container: qbittorrent
        widget:
          type: qbittorrent
          url: http://{{ lan.personal.qbittorrent.domain }}
          username: "{{ lookup('env', 'HOMEPAGE_QBITTORRENT_USERNAME') }}"
          password: "{{ lookup('env', 'HOMEPAGE_QBITTORRENT_PASSWORD') }}"
          enableLeechProgress: true
          enableLeechSize: true
    - Prowlarr:
        href: http://{{ lan.personal.prowlarr.domain }}:{{ lan.personal.prowlarr.ports.web }}
        icon: prowlarr.svg
        server: docker-proxy
        container: prowlarr
        widget:
          type: prowlarr
          url: http://{{ lan.personal.prowlarr.domain }}:{{ lan.personal.prowlarr.ports.web }}
          key: "{{ lookup('env', 'HOMEPAGE_PROWLARR_API_KEY') }}"
    - Radarr:
        href: http://{{ lan.personal.radarr.domain }}:{{ lan.personal.radarr.ports.web }}
        icon: radarr.svg
        server: docker-proxy
        container: radarr
        widget:
          type: radarr
          url: http://{{ lan.personal.radarr.domain }}:{{ lan.personal.radarr.ports.web }}
          key: "{{ lookup('env', 'HOMEPAGE_RADARR_API_KEY') }}"
          enableQueue: true
    - Sonarr:
        href: http://{{ lan.personal.sonarr.domain }}:{{ lan.personal.sonarr.ports.web }}
        icon: sonarr.svg
        server: docker-proxy
        container: sonarr
        widget:
          type: sonarr
          url: http://{{ lan.personal.sonarr.domain }}:{{ lan.personal.sonarr.ports.web }}
          key: "{{ lookup('env', 'HOMEPAGE_SONARR_API_KEY') }}"
          enableQueue: true
    - Huntarr:
        href: http://{{ lan.personal.huntarr.domain }}:{{ lan.personal.huntarr.ports.web }}
        icon: huntarr.png
        server: docker-proxy
        container: huntarr

- Smart Home:
    - HomeAssistant:
        icon: home-assistant.svg
        href: https://ha.thurstons.house
        widget:
          type: homeassistant
          url: https://ha.thurstons.house
          key: "{{ lookup('env', 'HOMEPAGE_HOMEASSISTANT_API_KEY') }}"
          fields:
            - people_home
            - lights_on
            - switches_on
