---
title: Home Dashboard
background:
  image: https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=1746&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
theme: dark
color: amber
layout:
