nodaemonize = true
forward_env = ["SSH_CONNECTION", "SSH_CLIENT", "SSH_TTY", "COLORTERM"]
default_dir = "."
session_restore_mode = { lines = 200 }
output_spool_lines = 10000
prompt_prefix = ""

[[keybinding]]
binding = "Ctrl-b d"
action = "detach"
