[Unit]
Description=Shpool - Shell Session Pool
Requires=shpool.socket

[Service]
Type=simple
ExecStart={{ ansible_facts['env']['HOME'] }}/.cargo/bin/shpool daemon
KillMode=mixed
TimeoutStopSec=2s
SendSIGHUP=yes

[Install]
WantedBy=default.target
